@import 'tailwindcss';

@theme {
  --color-primary: #04bf78;
  --color-secondary: #e6fef6;
  --color-black: #022115;
  --color-white: #ffffff;
  --color-gray: #a0b6ae;
  --color-error: #fed1cd;
  --text-base: 16px;
  --text-base--line-height: 140%;
  --text-small: 12px;
  --text-small--line-height: 140%;
  --text-large: 32px;
  --text-large--line-height: 140%;
}
