---
import Converter from "@components/react/Converter";
import LanguageMenu from "@components/react/LanguageMenu";
---

<div class="flex flex-col items-center justify-center gap-4">
  <LanguageMenu client:load />
  <div class="flex h-11 items-center md:h-20">
    <h1 class="text-large font-bold text-white">Moai Converter</h1>
  </div>
  <Converter client:load />
</div>
