---
import GithubIcon from '@assets/github.svg';
import type { ContentType } from 'src/types/translations';

interface Props {
  content: ContentType;
}

const { content } = Astro.props;
---

<footer class="flex w-full justify-center">
  <a
    href="https://github.com/Hiroto-Shida/moai-converter"
    target="_blank"
    class="flex w-fit duration-200 ease-in-out hover:opacity-70"
  >
    <img src={GithubIcon.src} alt="" class="size-[23px]" />
    <p class="ml-1 text-white">{content.footer.GitHub}</p>
  </a>
</footer>
